body {
  position: relative;

  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #163300;
}

header {
  /* position: sticky;
  top: 0; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: #9FE870;
  padding: 0.5rem;
  color: #163300;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
  width: 4.5rem;
}